language: node_js
cache: npm

node_js:
  - "10"
  - "12"
  - "node"

before_install:
  - npm install --no-save coveralls

script:
  - npm test
  - npm run test-cov

after_script:
  - nyc report --reporter=text-lcov | coveralls

deploy:
  provider: npm
  email: "$NPM_USER_EMAIL"
  api-key: "$NPM_API_KEY"
  on:
    tags: true
